*{
    margin:10;
    padding: 0;
}
#header img {
    float: left;
    padding: 25px 24px 17px 70px;
    cursor: pointer;
}
#img_blink{
    width: 240px;
    /* background-color: rgba(78, 24, 221, 1); */
    float: left;
    padding: 19px 24px 4.8px 70px;
    margin: 0;
    cursor: pointer;
}
#img_blink img{
    width: 50px;
    /* width: 240px; */
    margin: 0;
    padding: 0;
}
#img_blink span{
    float: left;
    color: black;
    font-size: 22px;
    margin: 8px 7px;
    letter-spacing: 3px;
}


#outer_container{
    clear: both;
    display: flex;
    justify-content: center;
}
#inner_container{
    margin-top: 80px;
    padding: 30px 20px;
    width: 300px;
    background: whitesmoke;
    color: purple;
}
#sign_{
    margin: 15px 10px 5px 0px;
    font-size: 30px;
}
#Email,#Password{
    font-size: 15px;
    color: purple;
    display: none;
    position: relative;
    margin: 0;
    padding: 0;
    top: 22px;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name:placeholderup;
}
@keyframes placeholderup{
    from{
        font-size: 15px;
        display: block;
        top: 22px;
    }
    to{
      font-size: 18px;
      display:block;
      top: 0px;
    }
}






input[type="text"]{
    margin: 0 0 22px 0;
    width: 300px;
    height: 25px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 2px solid purple;
    background: whitesmoke;
}
input[type="text"]:focus {
    outline: none;
}
input[type="button"]{
    margin: 45px 0 0 0;
    width: 300px;
    height: 30px;
    background: purple;
    border: transparent;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 17px;
    font-weight: 600;
}